<div id="top" class="callbacks_container">
    <ul class="rslides" id="slider3">
        <li>
            <div class="banner-info">
                <h3>Aliquam ut mauris vestibulum, condimentum neque vitae nulla.</h3>
                <p>Pellentesque congue libero accumsan porta.</p>
            </div>
        </li>
        <li>
            <div class="banner-info">
                <h3>Nam et urna interdum blandit condimentum vivamus neque vitae.</h3>
                <p>Sed eu quam ut orci ullamcorper tincidunt quam.</p>
            </div>
        </li>
        <li>
            <div class="banner-info">
                <h3>Cras pretium metus sed justo condimentum, sed commodo nulla.</h3>
                <p>Nulla eu sapien et eros finibus congue.</p>
            </div>
        </li>
    </ul>
</div>